<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <%= stylesheet_link_tag "main" %>
  </head>
  <body>

    <div class="container-fluid content">
      <header class="hero-unit">
        <a href="/"><h2>壯遊前夕</h2></a>
      </header>

      <%= partial 'nav_links' %>

      <div class="row-fluid">
        <div class="span8 main-content">
          <%= yield %>
        </div>

        <div class="span3 offset1 sidebar">
          <aside>
            <img src="http://www.gravatar.com/avatar/ab6237f719d3ceb3d1329af116fe77f0?s=80">
            <h4>Syd</h4>
          </aside>
          <aside>
            <h4>近期文章</h4>
              <% blog.articles[0...5].each do |article| %>
                <p><%= link_to article.title, article %></p>
              <% end %>
          </aside>
          <aside class="tags">
            <h4>Tags</h4>
            <ul>
            <% blog.tags.each do |tag, articles| %>
              <%= content_tag(:li, (link_to tag, tag_path(tag))) %>
            <% end %>
            </ul>
          </aside>
        </div>
      </div>
    </div>
  </body>
</html>
